@{
    ViewData["Title"] = "About Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/site.css"/>
<link rel="stylesheet" href="~/tailwind/build/tailwind.css">
<link rel="stylesheet" href="~/fonts/boxicons.css"/>
<script src="~/js/site.js"></script>

<div class="bg-gray-100">
    <!-- 1. Giới thiệu chung -->
    <section class="bg-green-50 py-16">
        <div class="container mx-auto grid grid-cols-1 lg:grid-cols-2 gap-12 items-center px-6">
            <!-- Phần hình ảnh -->
            <div class="grid grid-cols-2 gap-4">
                <div class="space-y-4">
                    <img src="/img/about_2.jpg" alt="Sản phẩm" class="rounded-lg shadow-md w-full" data-wow-delay="0.1s">
                    <img src="/img/about_1.jpg" alt="Trò chơi demo" class="rounded-lg shadow-md w-3/4 ml-auto mt-6"
                         data-wow-delay="0.3s">
                </div>
                <div class="space-y-4">
                    <img src="/img/about_3.jpg" alt="Thẻ bài" class="rounded-lg shadow-md w-3/4 mr-auto"
                         data-wow-delay="0.5s">
                    <img src="/img/about_4.jpg" alt="Bản đồ" class="rounded-lg shadow-md w-full" data-wow-delay="0.7s">
                </div>
            </div>

            <!-- Phần nội dung -->
            <div>
                <h5 class="text-lg font-semibold text-gray-600">Về Xanh Đấu</h5>
                <h1 class="text-4xl font-bold text-gray-800 mt-4">
                    Chào Mừng Đến Với <span class="text-green-600"><i class="fas fa-leaf"></i> Xanh Đấu</span>
                </h1>
                <p class="mt-6 text-gray-600">
                    <strong>Xanh Đấu</strong> là một trò chơi board game sáng tạo nhằm nâng cao nhận thức về biến đổi
                    khí
                    hậu và môi trường. Trong trò chơi, người chơi sẽ cùng nhau bảo vệ Trái Đất bằng cách xây dựng chiến
                    lược
                    và phát hiện những kẻ phá hoại đang âm thầm gây thiệt hại.
                </p>
                <p id="moreAbout" class="text-gray-600 mt-4 hidden">
                    Trò chơi mang đến một trải nghiệm sáng tạo, nơi người chơi sẽ hóa thân thành những người bảo
                    vệ môi trường với sứ mệnh giữ gìn các hệ sinh thái quan trọng. Bằng cách xây dựng chiến lược,
                    đưa ra quyết định thông minh và hợp tác với nhau, người chơi sẽ đối mặt với những thử thách bất ngờ,
                    khắc phục các nguy cơ và cùng tạo nên một hành tinh xanh bền vững.
                </p>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-8">
                    <div class="flex items-center border-l-4 border-green-600 pl-4">
                        <h2 class="text-4xl font-bold text-gray-800">6</h2>
                        <div class="ml-4">
                            <p class="text-gray-600">Tháng phát triển</p>
                            <p class="text-gray-700 font-semibold">Sản phẩm</p>
                        </div>
                    </div>
                    <div class="flex items-center border-l-4 border-green-600 pl-4">
                        <h2 class="text-4xl font-bold text-gray-800">5</h2>
                        <div class="ml-4">
                            <p class="text-gray-600">Thành viên</p>
                            <p class="text-gray-700 font-semibold">Trong đội ngũ</p>
                        </div>
                    </div>
                </div>
                <button
                    class="bg-green-600 font-bold text-white font-semibold py-3 px-6 mt-10 rounded hover:bg-green-700"
                    onclick="document.getElementById('moreAbout').classList.toggle('hidden')">
                    Tìm hiểu thêm
                </button>
            </div>
        </div>
    </section>

    <!-- 3. Lời mời gọi tham gia -->
    <section class="bg-gradient-to-r from-green-600 to-green-800 text-white py-16 shadow-lg">
        <div class="container mx-auto text-center">
            <h2 class="text-4xl font-extrabold">Tham gia cộng đồng Xanh Đấu</h2>
            <p class="mt-4 text-lg">Chia sẻ khoảnh khắc thú vị và lan tỏa thông điệp bảo vệ môi trường cùng chúng tôi!</p>
            <a href="https://www.facebook.com/profile.php?id=61571661936090"
            class="mt-6 inline-flex items-center bg-white text-green-700 px-8 py-3 rounded-full font-bold text-lg shadow-md
                    hover:bg-gray-200 transition-all duration-300 transform hover:scale-105">
                <i class="bx bxl-facebook-circle text-2xl mr-2"></i> Tham gia ngay
            </a>
        </div>
    </section>

    <!-- 4. Giới thiệu đội ngũ phát triển -->
    <section class="bg-white py-16">
        <div class="container mx-auto text-center">
            <h2 class="text-3xl font-bold text-gray-800">Đội ngũ phát triển</h2>
            <div class="mt-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-8">
                <!-- Thành viên 1 -->
                <div class="bg-gradient-to-b from-gray-100 to-gray-50 p-6 rounded-xl shadow-lg hover:shadow-2xl transition duration-300 text-center">
                    <img src="/img/kariem.jpg" alt="Mou Sa Ka Riêm" class="w-32 h-32 rounded-full mx-auto border-4 border-gray-300">
                    <h3 class="text-xl font-semibold mt-4">Mou Sa Ka Riêm</h3>
                    <p class="text-gray-600 font-medium">CEO</p>
                    <p class="mt-4 text-gray-600 text-sm">Lãnh đạo với tầm nhìn chiến lược và đam mê sáng tạo.</p>
                </div>
                <!-- Thành viên 2 -->
                <div class="bg-gradient-to-b from-gray-100 to-gray-50 p-6 rounded-xl shadow-lg hover:shadow-2xl transition duration-300 text-center">
                    <img src="/img/Thai.jpg" alt="Dương Quốc Thái" class="w-32 h-32 rounded-full mx-auto border-4 border-gray-300">
                    <h3 class="text-xl font-semibold mt-4">Dương Quốc Thái</h3>
                    <p class="text-gray-600 font-medium">CTO</p>
                    <p class="mt-4 text-gray-600 text-sm">Chuyên gia công nghệ, sáng tạo giải pháp kỹ thuật đột phá.</p>
                </div>
                <!-- Thành viên 3 -->
                <div class="bg-gradient-to-b from-gray-100 to-gray-50 p-6 rounded-xl shadow-lg hover:shadow-2xl transition duration-300 text-center">
                    <img src="/img/Chu.jpg" alt="Trần Thị Kim Chu" class="w-32 h-32 rounded-full mx-auto border-4 border-gray-300">
                    <h3 class="text-xl font-semibold mt-4">Trần Thị Kim Chu</h3>
                    <p class="text-gray-600 font-medium">CFO</p>
                    <p class="mt-4 text-gray-600 text-sm">Quản lý tài chính vững chắc, đảm bảo sự phát triển bền vững.</p>
                </div>
                <!-- Thành viên 4 -->
                <div class="bg-gradient-to-b from-gray-100 to-gray-50 p-6 rounded-xl shadow-lg hover:shadow-2xl transition duration-300 text-center">
                    <img src="/img/My.jpg" alt="Lê Thị Thùy Mị" class="w-32 h-32 rounded-full mx-auto border-4 border-gray-300">
                    <h3 class="text-xl font-semibold mt-4">Lê Thị Thùy Mị</h3>
                    <p class="text-gray-600 font-medium">CMO</p>
                    <p class="mt-4 text-gray-600 text-sm">Xây dựng chiến lược tiếp thị và kết nối sản phẩm với khách hàng.</p>
                </div>
                <!-- Thành viên 5 -->
                <div class="bg-gradient-to-b from-gray-100 to-gray-50 p-6 rounded-xl shadow-lg hover:shadow-2xl transition duration-300 text-center">
                    <img src="/img/Tran.jpg" alt="Khưu Thị Kiều Trân" class="w-32 h-32 rounded-full mx-auto border-4 border-gray-300">
                    <h3 class="text-xl font-semibold mt-4">Khưu Thị Kiều Trân</h3>
                    <p class="text-gray-600 font-medium">COO</p>
                    <p class="mt-4 text-gray-600 text-sm">Tối ưu quy trình vận hành, đảm bảo hiệu quả công ty.</p>
                </div>
            </div>
        </div>
    </section>

</div>
