@{
    ViewData["Title"] = "Event Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/site.css"/>
<link rel="stylesheet" href="~/tailwind/build/tailwind.css">
<link rel="stylesheet" href="~/fonts/boxicons.css"/>
<script src="~/js/site.js"></script>

<div class="bg-gray-100">

    <!-- Section cho Event -->
    <section class="bg-white-700 text-black py-56">
        <div class="container mx-auto text-center">
            <h1 class="text-4xl font-extrabold">Sự kiện Xanh Đấu sắp ra mắt!</h1>
            <p class="mt-4 text-lg">Chúng tôi đang chuẩn bị cho một sự kiện đặc biệt để mang đến những trải nghiệm tuyệt
                vời về bảo vệ môi trường và trò chơi Xanh Đấu. Hãy sẵn sàng để tham gia!</p>

            <!-- Countdown Timer -->
            <div class="mt-12">
                <h2 class="text-2xl font-semibold">Chờ đón sự kiện với chúng tôi!</h2>
                <p class="text-lg mt-4">Chúng tôi sẽ thông báo về thời gian cụ thể ngay khi mọi thứ đã sẵn sàng. Đừng
                    quên đăng ký nhận thông báo để không bỏ lỡ nhé!</p>
            </div>
        </div>
    </section>
</div>
